name: Check Lua Releases
on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:
jobs:
  check-release:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
